div {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

button {
  background-color: #f60;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #6c6;
}
