a {
  text-decoration: none;
}

.nav-bar {
  padding: 24px 4%;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  background-color: white;
}
